**/.metadata/
**/.settings/
**/bin/
*.classpath
*.project
setup/
sqlWorkspace/우리반문제.sql
lib/
frontWorkspace/resources/
servletWorkspace/Servers/
**/MANIFEST.MF
servletWorkspace/**/.gitignore
servletWorkspace/prj99semi_practice/
*.jar
springBootWorkspace/app/.gitignore
springBootWorkspace/**/.gitignore
springBootWorkspace/swy/gradle/wrapper/gradle-wrapper.jar
springBootWorkspace/**/.idea/**